<h1>QuestionsController#answer</h1>

<div class="user-input">
  <p>
    <%= @question_asked.capitalize %>
  </p>
  <p>- <em>YOU</em> </p>
</div>

<div class="coach-input">
  <p>
    <p><%= @coach_answer %></p>
    <p>- <em>the Coach</em> </p>
  </p>
</div>
<%= link_to "Back to ask menu", ask_path %>



