// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.coach-input {
  margin-bottom: 20px;
  padding: 15px;
  width: 450px;
  background-color: rgba(40,223,140,0.3);
  border-left: 6px solid #47484C;
}

.user-input {
  margin-bottom: 20px;
  padding: 15px;
  width: 450px;
  background-color: rgba(56,200,215,0.1);
  border-left: 6px solid #47484C;
}
